# ClickHouse
CLICKHOUSE_DB=pipeline_dados
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=troque_esta_senha
CLICKHOUSE_PORT=8123

# Airflow / Postgres (Metadados)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
AIRFLOW_UID=50000

# Enriquecimento via LLM
ANTHROPIC_API_KEY=sua_chave_aqui
